body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2  {
    color: #333;
    text-align: center;
}
h3 {
    color:#333
}
.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingredients, .instructions {
    margin-top: 10px;
}

ul, ol {
    margin-bottom: 0;
}

ul li, ol li {
    list-style-type: none;
    margin-bottom: 5px;
}

h3 {
    color: #008080;
}

/* Optional: Stile für Links */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    color: #555;
}


img {
    float: right;
    margin-right: 20px;
    max-width: 300px;
    max-height: 300px;
}